@use 'vars.scss' as v;

.actions {
    @include v.flex(row, space-between, center, wrap);
    gap: 28px;
    width: 100%;
}

.action {
    @include v.flex(column, space-between, center, nowrap);
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

.icon-container {
    padding: 32px;
    background-image: v.$gradient4;
    border-radius: 10px;
}